
<header class="page-head" style="background-image: url(./img/top03.jpg);">

	<div class="rd-navbar-wrap bg-transparent" style="height: 144px;">
		<nav class="rd-navbar rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed"
			data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth"
			data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static"
			data-xxl-layout="rd-navbar-static" data-device-layout="rd-navbar-fixed"
			data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
			data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static"
			data-xxl-device-layout="rd-navbar-static" data-stick-up-offset="100px">
			<div class="rd-navbar-top-panel bg-accent"></div>
			<div class="rd-navbar-inner">
				<!-- RD Navbar Panel-->
				<div class="rd-navbar-panel">
					<!-- RD Navbar Toggle-->
					<button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"
						type="submit">
						<span></span>
					</button>
					<!-- RD Navbar Brand-->

					<div class="rd-navbar-brand">
						<a class="brand-name" href="https://ekleft.dv1zhok.ru/">
							<img width="130" height="36" src="./page01_files/ekleftlogo_s.svg" alt="Ekleft">
						</a>
					</div>

				</div>
				<div class="rd-navbar-nav-wrap toggle-original-elements">
					<!-- RD Navbar Nav-->
					<ul class="rd-navbar-nav">
						<li><a href="https://ekleft.dv1zhok.ru/index">Home</a></li>
						<li class="rd-navbar--has-dropdown rd-navbar-submenu">
							<a href="https://ekleft.dv1zhok.ru/about">About</a><span
								class="rd-navbar-submenu-toggle"></span>
							<ul class="rd-navbar-dropdown">
								<li><a href="https://ekleft.dv1zhok.ru/about#vision">Our vision</a></li>
								<li><a href="https://ekleft.dv1zhok.ru/about#principles">Our principles</a></li>
								<li><a href="https://ekleft.dv1zhok.ru/about#responsibility">Social
										responsibility</a></li>
								<li><a href="https://ekleft.dv1zhok.ru/about#why-us">Why choose us</a></li>
							</ul>
						</li>
						<li class="rd-navbar--has-dropdown rd-navbar-submenu">
							<a href="https://ekleft.dv1zhok.ru/career">Career</a><span
								class="rd-navbar-submenu-toggle"></span>
							<!-- RD Navbar Dropdown-->
							<ul class="rd-navbar-dropdown">
								<li><a href="https://ekleft.dv1zhok.ru/career#career">Career at Ekleft</a></li>
								<li><a href="https://ekleft.dv1zhok.ru/career#equality">Equality</a></li>
								<li><a href="https://ekleft.dv1zhok.ru/career#diversity">Diversity</a></li>
								<li><a href="https://ekleft.dv1zhok.ru/career#benefits">Social benefits and
										peolpe care</a>
								</li>
							</ul>
						</li>
						<li class="rd-navbar--has-dropdown rd-navbar-submenu">
							<a href="https://ekleft.dv1zhok.ru/services">Services</a><span
								class="rd-navbar-submenu-toggle"></span>
							<!-- RD Navbar Dropdown-->
							<ul class="rd-navbar-dropdown">
								<li><a href="https://ekleft.dv1zhok.ru/services#staffing">Project Staffing</a>
								</li>
								<li><a href="https://ekleft.dv1zhok.ru/services#recruitment">IT Recruitment</a>
								</li>
								<li><a href="https://ekleft.dv1zhok.ru/services#outsourcing">Project
										outsourcing</a></li>
								<li><a href="https://ekleft.dv1zhok.ru/services#consulting">Experts based
										consulting practice</a></li>
								<li><a href="https://ekleft.dv1zhok.ru/services#centers">Dedicated Centers
										Development DDC/DSC/DMC/HRC</a></li>
							</ul>
						</li>
						<li><a href="https://ekleft.dv1zhok.ru/cases">Cases</a></li>
						<li><a href="https://ekleft.dv1zhok.ru/contacts">Contacts</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<section class="relative text-center">
		<div class="container">
			<div class="jumbotron text-center">
				<h1>
					<small></small>
					<span class="font-weight-bold">Cases</span>
				</h1>
			</div>
		</div>
	</section>
</header>